.navbar {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.Container {
  max-width: 1600px;
  margin: auto;
}

.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mainColor);
}

.navDiv .secondDivNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondDivNav i,
p {
  margin-right: 2rem;
  cursor: pointer;
}

.Signinbutton {
  border: none;
  padding: 0.5rem 2rem;
  background-color: var(--red);
  color: var(--mainColor);
  border-radius: 2px;
  cursor: pointer;
}

.WishListData {
  position: relative;
  margin-left: 1rem;
}

.WishListData::after {
  content: "1";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--mainColor);
}

.firstDivNav h1 {
  color: var(--mainColor);
}
