.navbar {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
}

.Container {
  max-width: 1600px;
  margin: auto;
}

.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mainColor);
}

.navDiv .secondDivNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondDivNav i,
p {
  margin-right: 2rem;
  cursor: pointer;
}

.Signinbutton {
  border: none;
  padding: 0.5rem 2rem;
  background-color: var(--red);
  color: var(--mainColor);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 1rem;
}

.WishListData {
  position: relative;
  margin-left: 1rem;
}

.firstDivNav h1 {
  color: var(--mainColor);
}

i {
  cursor: pointer;
}

.search {
  width: 500px;
  height: 40px;
  padding: 1rem;
  border-radius: 30px;
  margin-left: 1rem;
  outline: none;
  border: none;
}

.hideSearch {
  display: none;
}

.searchDiv {
  position: relative;
}
.SearchDivContaienr {
  width: 550px;
  height: 400px;
  position: absolute;
  z-index: 999;
  top: 50px;
  background-color: var(--mainColor);
  border-radius: 10px;
  overflow: scroll;
  padding: 1rem;
  overflow-x: hidden;
}
.MoviesCard {
  background-color: var(--dark);
  margin: auto;
  height: 20%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
a {
  text-decoration: none;
}

.MoviShortImg {
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.MoviContent {
  margin-left: 1rem;
  color: var(--mainColor);
}

.AboutMovi {
  font-size: 0.7rem;
}
